{% extends 'base.html.twig' %}

{% block content %}
    <h1>Add Player</h1>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.team) }}
        <button type="submit">Add</button>
    {{ form_end(form) }}
{% endblock %}
